AI102_Quality_SP/PremierService_AXIS/src/main/webapp/wsdl/CalculSW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.service.ai102.afcepf.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.service.ai102.afcepf.fr" xmlns:intf="http://impl.service.ai102.afcepf.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.service.ai102.afcepf.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="paramI" type="xsd:int"/>
      <element name="paramJ" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="pow">
    <complexType>
     <sequence>
      <element name="paramA" type="xsd:double"/>
      <element name="paramB" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="powResponse">
    <complexType>
     <sequence>
      <element name="powReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="powResponse">

      <wsdl:part element="impl:powResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="powRequest">

      <wsdl:part element="impl:pow" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CalculSW">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pow">

         <wsdl:input message="impl:powRequest" name="powRequest">

       </wsdl:input>

         <wsdl:output message="impl:powResponse" name="powResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculSWSoapBinding" type="impl:CalculSW">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pow">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="powRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="powResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculSWService">

      <wsdl:port binding="impl:CalculSWSoapBinding" name="CalculSW">

         <wsdlsoap:address location="http://localhost:8080/PremierService_AXIS/services/CalculSW"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
