AI102_Quality_SP/ConsumerService/ConsumerService/Connected Services/fr.afcepf.ai102.service.dotnet/PremierServiceDotNet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dotnet.service.ai102.afcepf.fr/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dotnet.service.ai102.afcepf.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dotnet.service.ai102.afcepf.fr/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ajouter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="j" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ajouterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ajouterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="puissance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="puissanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="puissanceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetToto">
        <s:complexType />
      </s:element>
      <s:element name="GetTotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTotoResult" type="tns:Toto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Toto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prenom" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ajouterSoapIn">
    <wsdl:part name="parameters" element="tns:ajouter" />
  </wsdl:message>
  <wsdl:message name="ajouterSoapOut">
    <wsdl:part name="parameters" element="tns:ajouterResponse" />
  </wsdl:message>
  <wsdl:message name="puissanceSoapIn">
    <wsdl:part name="parameters" element="tns:puissance" />
  </wsdl:message>
  <wsdl:message name="puissanceSoapOut">
    <wsdl:part name="parameters" element="tns:puissanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotoSoapIn">
    <wsdl:part name="parameters" element="tns:GetToto" />
  </wsdl:message>
  <wsdl:message name="GetTotoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotoResponse" />
  </wsdl:message>
  <wsdl:portType name="PremierServiceDotNetSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ajouter">
      <wsdl:input message="tns:ajouterSoapIn" />
      <wsdl:output message="tns:ajouterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="puissance">
      <wsdl:input message="tns:puissanceSoapIn" />
      <wsdl:output message="tns:puissanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToto">
      <wsdl:input message="tns:GetTotoSoapIn" />
      <wsdl:output message="tns:GetTotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PremierServiceDotNetSoap" type="tns:PremierServiceDotNetSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://dotnet.service.ai102.afcepf.fr/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajouter">
      <soap:operation soapAction="http://dotnet.service.ai102.afcepf.fr/ajouter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="puissance">
      <soap:operation soapAction="http://dotnet.service.ai102.afcepf.fr/puissance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToto">
      <soap:operation soapAction="http://dotnet.service.ai102.afcepf.fr/GetToto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PremierServiceDotNetSoap12" type="tns:PremierServiceDotNetSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://dotnet.service.ai102.afcepf.fr/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ajouter">
      <soap12:operation soapAction="http://dotnet.service.ai102.afcepf.fr/ajouter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="puissance">
      <soap12:operation soapAction="http://dotnet.service.ai102.afcepf.fr/puissance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToto">
      <soap12:operation soapAction="http://dotnet.service.ai102.afcepf.fr/GetToto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PremierServiceDotNet">
    <wsdl:port name="PremierServiceDotNetSoap" binding="tns:PremierServiceDotNetSoap">
      <soap:address location="http://localhost:54626/PremierServiceDotNet.asmx" />
    </wsdl:port>
    <wsdl:port name="PremierServiceDotNetSoap12" binding="tns:PremierServiceDotNetSoap12">
      <soap12:address location="http://localhost:54626/PremierServiceDotNet.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>